.columns-container {
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
}

.with-scroll {
    width: 100%;
    max-width: 100%;
    overflow-x: visible
}

.animated-scroll {
    transition: transform 0.3s;
}

.position-outside {
    position: fixed;
    left: -500px;
}