.App {
  text-align: center;
}

.row-item {
    margin-left: 10px;
    margin-right: 10px;
}

.row {
  margin: 20px;
}

.row div:first-child {
  margin-left: 0;
}

.row div:last-child {
  margin-right: 0;
}